*{
  margin: 0;
  padding: 0;
}

.navbar-container{
  background-color: turquoise;
  display: flex;
  align-items: center;
  height: 70px;
  
}

.menu ul{
  width: 800px;
  display: flex;
  list-style: none;
  gap: 10px;
  justify-content: space-evenly;
}

.menu ul li a{
  text-decoration: none;
  font-size: 20px;
 
}

.menu ul li a:hover{
  border-bottom: 3px solid red;
}

#active{
  color: white;
}

.menu{
  margin-left: 90px;
}

.logo{
  margin-left: 40px;
}

.logo h1{
  text-transform: uppercase;
}

.photo figure img{
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.photo figure figcaption{
  text-align: center;
}

.photo{
  width: 400px;
  margin-bottom: 40px;
}

figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo-container h1{
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery-section{
  display: flex;
  justify-content: space-between;
}

.video-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-container video{
  width: 700px;
  height: 400px;
  object-fit: cover;
}

.video-container h1{
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.video-box{
  display: flex;
  justify-content: center;
}
footer {
  background-color: turquoise; /* Adjust background color as desired */
  padding: 10px 20px;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

footer ul li {
  display: inline-block;
  margin: 0 10px;
}

footer ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.2s ease-in-out;
}

footer ul li a:hover {
  color: #e50000;
}